<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="App">
        <div>是否需要额外的付费设施<input v-model="isPay" type="checkbox"></div>
        <ul v-if="isPay">
            <li v-for="obj in pro">{{obj.thing}}({{obj.price}}) 
                <input v-model="info" :value="obj" type="checkbox" >
            </li>
        </ul>
        <div>订单费用信息</div>
        <ul v-if="isPay">
            <li v-for="info in info">{{info.thing}}({{info.price}})</li>
        </ul>
        <div>总金额：{{total()}}</div>
    </div>
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el: "#App",
            data: {
                isPay: false,
                pro: [
                    { thing: "沙发", price: 100 },
                    { thing: "wifi", price: 50 },
                    { thing: "电脑", price: 200 }
                ],
                info: [
                    { thing: "thing", price: 50 },
                ],
            },
            methods: {
                total() {
                    let sum=0;
                    for(var i=0;i<this.info.length;i++){
                        sum+=this.info[i].price;
                    }
                    return sum;
                }
            }
        })
    </script>
</body>

</html>